/* ==========================
       IMPORT FONTS
========================== */

@import url('https://fonts.googleapis.com/css?family=Dosis|Nunito|Artifika|Handlee|Just+Another+Hand|Patrick+Hand|Sacramento|Shadows+Into+Light|Sofia');
/* font-family: 'Nunito'; */
/* font-family: 'Dosis'; */
/* font-family: 'Artifika', serif; */
/* font-family: 'Handlee', cursive; */
/* font-family: 'Patrick Hand', cursive; */
/* font-family: 'Shadows Into Light', cursive; */

.off-canvas-wrapper {
    border-bottom: 2px solid grey;
}
.off-canvas-content {
    background-color: #F0F8FF;
}
.welcome {
    font-family: 'Handlee', cursive;
    text-align: center;
}
.lead {
    font-family: 'Dosis';
    color: firebrick;
    text-align: center;
}
.aboutme {
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.2em;
    color: darkblue;
}
.name {
    font-family: 'Artifika', serif;
}
.bye {
    font-family: 'Sofia', sans-serif;
    font-size: 1.5em;
    color: navy;
}
.profile {
    max-width: 8.5em;
}
